{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock title %}

{% block excss %}
{% load static %}
<link rel="stylesheet" href="/media/myfirst.css">

{% endblock excss %}
{% block base %}

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
      <a href="" class="navbar-brand p-0">
          <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Ocean Family ♾️</h1>
          <!-- <img src="img/logo.png" alt="Logo"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0 pe-4">
              <a href="/" class="nav-item nav-link">Home</a>
              <a href="/about" class="nav-item nav-link">About</a>
              <a href="/service" class="nav-item nav-link">Service</a>
              <a href="/category" class="nav-item nav-link">Category</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
                  <div class="dropdown-menu m-0">
                      <a href="/bookings" class="dropdown-item active">Booking</a>
                      <a href="/teams" class="dropdown-item">Our Team</a>
                      <a href="/testimonials" class="dropdown-item">Testimonial</a>
                  </div>
              </div>
              <a href="/contacts" class="nav-item nav-link">Contact</a>
          </div>
          <a href="" class="btn btn-primary py-2 px-4">Book A Table</a>
      </div>
  </nav>

  <div class="container-xxl py-5 bg-dark hero-header mb-5">
      <div class="container text-center my-5 pt-5 pb-4">
          <h1 class="display-3 text-white mb-3 animated slideInDown">Login</h1>
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center text-uppercase">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Pages</a></li>
                  <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<!-- Navbar & Hero End -->


<div class="container mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}  alert-dismissible fade show my-0" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <h2 style="color: #E65100">Login</h2>
    <hr>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color: #21d321;">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="username" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"  style="color: #21d321;">Password</label>
      <input type="password" class="form-control" id="exampleInputEmail1" name="passwd" required>
    </div>

    <p>Don't Have Account <a href="/accounts/register">Register</a></p>
    <button type="submit" class="btn btn-success mx-5 px-2">Login</button>
  </form>
</div>

{% endblock base %}