{% extends 'base.html' %}

{% block base %}

 <!-- Navbar & Hero Start -->
 <div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
      <a href="" class="navbar-brand p-0">
          <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Ocean Family ♾️</h1>
          <!-- <img src="img/logo.png" alt="Logo"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0 pe-4">
              <a href="/" class="nav-item nav-link">Home</a>
              <a href="/about" class="nav-item nav-link">About</a>
              <a href="/service" class="nav-item nav-link">Service</a>
              <a href="/category" class="nav-item nav-link">Category</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                  <div class="dropdown-menu m-0">
                      <a href="/bookings" class="dropdown-item">Booking</a>
                      <a href="/teams" class="dropdown-item">Our Team</a>
                      <a href="/testimonials" class="dropdown-item">Testimonial</a>
                  </div>
              </div>
              <a href="/contacts" class="nav-item nav-link active">Contact</a>
          </div>
          <a href="/accounts/login" class="btn btn-primary py-2 px-4">Book A Table</a>
      </div>
  </nav>

  <div class="container-xxl py-5 bg-dark hero-header mb-5">
      <div class="container text-center my-5 pt-5 pb-4">
          <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center text-uppercase">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Pages</a></li>
                  <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<!-- Navbar & Hero End -->


<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
          <h1 class="mb-5">Contact For Any Query</h1>
      </div>
      <div class="row g-4">
          <div class="col-12">
              <div class="row gy-4">
                  <div class="col-md-4">
                      <h5 class="section-title ff-secondary fw-normal text-start text-primary">Booking</h5>
                      <p><i class="fa fa-envelope-open text-primary me-2"></i>oceanbarfr@gmail.com</p>
                  </div>
                  <div class="col-md-4">
                      <h5 class="section-title ff-secondary fw-normal text-start text-primary">General</h5>
                      <p><i class="fa fa-envelope-open text-primary me-2"></i>ocean@gmail.com</p>
                  </div>
                  <div class="col-md-4">
                      <h5 class="section-title ff-secondary fw-normal text-start text-primary">Technical</h5>
                      <p><i class="fa fa-envelope-open text-primary me-2"></i>tech@gmail.com</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.7200794588134!2d72.79994577496359!3d19.467631939561734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7aa203e8d3a8d%3A0x286b62102f069dd4!2sOcean%20Bar%20%26%20Family%20Restaurant!5e0!3m2!1sen!2sin!4v1697993892781!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-md-6">
              <div class="wow fadeInUp" data-wow-delay="0.2s">
                  <form method="post">
                    {% csrf_token %}
                      <div class="row g-3">
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control" id="name" name = "name" placeholder="Your Name">
                                  <label for="name">Your Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control" id="email" name = "email" placeholder="Your Email">
                                  <label for="email">Your Email</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <input type="text" class="form-control" id="subject" name= "subject" placeholder="Subject">
                                  <label for="subject">Subject</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control" placeholder="Leave a message here" id="message" name = "message" style="height: 150px"></textarea>
                                  <label for="message">Message</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Contact End -->


{% endblock base %}

